{{template "header"}}
{{template "header2" .}}
<main>
    {{if .LoggedIn}}
    <div class="form-div">
        <p>Main Profile</p>
        {{ with .User }}
        <input id="email" name="email" type="email" placeholder="Your email empty" value="{{.Email}}" disabled>
        <input id="fullname" name="fullname" placeholder="Your full name empty" autocomplete="off" value="{{.Fullname}}" disabled>
        <input id="telephone" name="telephone" placeholder="Your telephone empty" autocomplete="off" value="{{.Telephone}}" disabled>
        <a href="/profile" class="link-button">Edit</a>
        <a href="/api/logout" class="link-button">Logout</a>
        {{ end }}
    </div>
    {{else}}
    <div class="form-div">
        <p>Login</p>
        <form method="POST" action="/api/login">
            <input id="email" name="email" placeholder="Enter your email" autofocus>
            <input id="password" name="password" type="password" placeholder="Enter your password">
            <button>Login</button>
            
        </form>
        <a href="/oauth/google" class="link-button">Google login</a>
        <a href="/signup" class="link-button">Sign-Up</a>
    </div>
    {{end}}
</main>
{{ with .Message }}
    {{if .IsMessage}}
    <div id="snackbar" class="show">{{.TextMessage}}</div>
    {{ else }}
    <div id="snackbar"></div>
    {{ end }}
{{ end }}
{{template "footer"}}
