{{define "header"}}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BO_GA User</title>
    <link rel="stylesheet" href="/public/css/styles.css">
{{end}}

{{define "header2"}}
</head>
<body>
{{end}}

{{ define "footer" }}
<script>
    var x = document.getElementById("snackbar");
    const params = new URLSearchParams(window.location.search)
    if(params.has('msg')) {
        let msg = params.get('msg');
        params.delete('msg');
        window.history.replaceState({}, '', location.pathname);
        if(msg !==undefined && msg !== "") {
            x.textContent = msg;
            x.className = "show";
            setTimeout(function(){
                x.textContent = "";
                x.className = x.className.replace("show", ""); 
            }, 5000);
        }
    }
</script>
</body>
</html>
{{ end }}