{{template "header"}}
{{template "header2" .}}
<div class="form-div">
    <p>Enter Profile Information</p>
    {{ with .User }}
    {{$disabled:=0}}
    <form method="POST" action="/api/profile">
        <input id="email" name="email" type="email" placeholder="Enter your email" value="{{.Email}}" {{if .IsOauth}} disabled {{end}}  maxlength="99" autofocus>
        <input id="fullname" name="fullname" placeholder="Enter your full name" value="{{.Fullname}}" maxlength="254" autocomplete="off">
        <input id="telephone" name="telephone" placeholder="Enter your telephone" value="{{.Telephone}}" maxlength="254" autocomplete="off">
        <button>Save & Continue</button>
    </form>
    <a href="/" class="link-button">Cancel</a>
    {{ end }}
</div>
{{ with .Message }}
    {{if .IsMessage}}
    <div id="snackbar" class="show">{{.TextMessage}}</div>
    {{ else }}
    <div id="snackbar"></div>
    {{ end }}
{{ end }}
{{template "footer"}}