{{template "header"}}
{{template "header2" .}}
<div class="form-div">
    <p>Sign-Up</p>
    <form method="POST" action="/api/signup">
        <input id="email" name="email" type="email" placeholder="Enter your email" maxlength="99" autofocus>
        <input id="password" name="password" type="password" maxlength="50" placeholder="Create your password">
        <button>Sign-Up</button>
    </form>
    <a href="/oauth/google" class="link-button">Google sign-up/login</a>
    <a href="/" class="link-button">Existing User Login</a>
</div>
{{ with .Message }}
    {{if .IsMessage}}
    <div id="snackbar" class="show">{{.TextMessage}}</div>
    {{ else }}
    <div id="snackbar"></div>
    {{ end }}
{{ end }}
{{template "footer"}}